@use "../abstract/variables" as variable;

body {
    margin: 0;
    font-family: variable.$police-principale;
    background-color: #f8f1e7;
}

*section, header, footer {
    margin: 1rem 7%;
}

p {
    font-size: small;
}

h1, h3 {
    font-family: variable.$police-secondaire;
    margin: 0;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}

li {
    list-style: none;
}

.nav 
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
}