@use "../abstract/variables" as variable;

body {
    margin: 0;
    font-family: variable.$police-principale;
    background-color: #f8f1e7;
}

*section, header, footer {
    margin: 1rem 10%;
}

p, li {
    font-size: 20px;
}

h1, h3 {
    font-family: variable.$police-secondaire;
    margin: 0;
}

h1 {
    font-size: 70px;
    letter-spacing: 1px;
    line-height: 90%;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
}

li {
    list-style: none;
}

.nav 
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
}