@use "../abstract/variables";
@use "../components/buttons";
@use "../components/banner";


#banner {
    display: flex;
    justify-content: space-between;
    .banner-txt {
        width: 50%;
        p {
            width: 90%;
        }
    }
    .banner-img {
        width: 50%;
        img {
            width: 100%;
            border-top-left-radius: 10px;
            box-shadow: 8px 8px green;
        }
    }
}

.projet-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#mission {
    margin: 6rem 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/farmer-bg.jpg);
    background-size: cover;
    background-position: center;
    .card-container {
        .card-about{
            .card-txt {
                width: 90%;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    padding: 0;
                    margin-bottom: 3rem;
                    li {
                        list-style: circle;
                        width: 45%;
                        line-height: 200%;
                    }
                }
            }
        }
    }
}

#actus {
    .actu1-container {
        display: flex;
        .actu1-img {
            width: 50%;
            max-height: 35vh;
            img { 
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .actu1-card {
            display: flex;
            flex-direction: column;
            background-color: white;
            margin: 0 3rem 3rem 3rem;
            padding: 3rem;
            height: 25vh;
            border-radius: 10px;
        }
    }
    .actu2 {
        margin-top: 10%;
        .actu2-img {
            width: 100%;
            height: 20vh;
            margin-bottom: 3rem;
            img { 
                width: 100%;
                height: 100%;
                object-fit: cover;}
        }

    }
}